/*
 *  Copyright (c) 2010-2016, Fabric Software Inc. All rights reserved.
 */

#DFGLogWidget QPlainTextEdit {
  background-color: rgb(39,40,34);
  font: 11px "Roboto Mono";
  border: 1px solid black;
}
